view-controls {
  display: flex;
  padding: 16px;
  align-items: center;
}

view-controls > button {
  margin-right: 16px;
  width: 100px;
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
}
