view-trainer {
  display: none;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

view-trainer #chord {
  font-size: 52px;
  font-weight: bold;
}

view-trainer #intervals {
  font-size: 24px;
  color: #666;
}
